@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-medical-950 text-slate-200 antialiased;
  overflow-x: hidden;
}

/* Estilização da barra de rolagem */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-medical-950;
}
::-webkit-scrollbar-thumb {
  @apply bg-medical-800 rounded-full;
}